@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">

        <h2>Blog</h2>

        <div>
            @Html.ActionLink("Register", "Register", "Account")
            <br>
            @Html.ActionLink("Login", "Login", "Account")
        </div>
    </div>
</div>